$ORIGIN .
$TTL 86400	; 1 day
_acme-challenge.{{ item }}. IN SOA {{ global_zones[item].soa }} {{ global_mail }}. (
				89         ; serial
				86400      ; refresh (1 day)
				3600       ; retry (1 hour)
				604800     ; expire (1 week)
				86400      ; minimum (1 day)
				)
			NS	{{ global_zones[item].soa }}

